* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
.biggest-text {
  font-size: 2.6rem;
}
.bigger-text {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration-color: #2c344f;
  margin-bottom: 0.6rem;
}
u {
  text-decoration-thickness: 9%;
  text-decoration-color: #001558;
}
.bold-text {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0.8rem;
  line-height: 1.7;
}
ul {
  list-style: none;
}
body {
  font-family: "Quicksand", sans-serif;
  background: #f9f9f9, 100%;
  font-size: 1.1rem;
}
body > * {
  width: 60%;
  margin: 0 auto;
}
picture {
  margin: 0;
}
nav {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  align-content: center;
  justify-content: space-between;
}
.links > * + * {
  margin-left: 3rem;
}

/***
Header Section 
***/

header {
  display: flex;
  flex-direction: column;
}
header > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text {
  padding: 6rem 0;
  padding-top: 7rem;
  width: 17rem;
}
.profile-img {
  padding: 2.5rem 0;
  width: 50%;
  height: 14rem;
  border-radius: 4px;
  box-shadow: 0 0 28px 0.6rem rgba(138, 138, 138, 0.2);
}
.attributes {
  align-items: center;
  justify-content: space-around;
  padding: 3rem 0;
}
.card {
  box-shadow: 0 0 28px 0.6rem rgba(138, 138, 138, 0.2);
  border-radius: 5px;
  min-width: 13rem;
  text-align: center;
  padding: 2.5rem 3.7rem;
  padding-bottom: 1rem;
}
.emoji-big {
  font-size: 2.8rem;
  line-height: 0.3rem;
}

/** About **/
#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.2rem 0;
  column-gap: 7rem;
}
#about .col-left {
  flex: 1.6;
}
#about .col-left p {
  max-width: 98%;
  margin-top: 0;
}
#about .col-right {
  flex: 1.2;
}
.skill {
  margin: 2.3rem 0;
}
.full-bar {
  margin-top: 0.35rem;
  border-radius: 0.8rem;
  height: 0.5rem;
  width: 100%;
  box-shadow: 0 0 10px 0.3rem rgba(138, 138, 138, 0.2);
}
.percentage-bar {
  border-radius: 0.8rem;
  height: 0.5rem;
  background-color: #3b4463;
}
.wd {
  width: 84%;
}
.gd {
  width: 63%;
}
.hr {
  width: 77%;
}
.sing {
  width: 69%;
}
.read-more {
  font-size: 0.9rem;
  color: #3b4463;
}

/**Education **/
.education {
  display: flex;
  padding: 5rem 0;
  column-gap: 5rem;
  line-height: 2;
  align-items: center;
  justify-content: space-between;
}
.col-left {
  flex: 1;
}
.col-right {
  flex: 1;
}
.col-right .bigger-text {
  line-height: 1.2;
}

/**Interests **/
.interests {
  padding: 4rem 0;
}
.interest {
  line-height: 1.8;
  margin: 1.4rem 0;
  padding: 0.5rem;
  width: 75%;
  border-radius: 0.37rem;
  background-color: #efefef;
}

/**Footer **/
footer {
  background-color: #2c344f;
  color: #efefef;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
  align-items: center;
}

.contact > * + * {
  margin-left: 1rem;
}

@media (max-width: 40rem) {
  * {
    flex-direction: column;
  }
  .profile-img {
    width: 98%;
  }
  .col-right {
    margin-top: 2rem;
    padding: 1rem 0;
    padding-bottom: 0;
  }
  #about {
    padding-bottom: 1rem;
  }
}
