* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
nav a:hover {
  color: #001558;
  font-weight: bolder;
}
.biggest-text {
  font-size: 2.6rem;
  color: #001558;
}
.bigger-text {
  display: inline-block;
  font-size: 1.6rem;
  color: #001558;
  text-decoration-color: #2c344f;
  margin-bottom: 0.6rem;
}
u {
  text-decoration: none;
}
.bold-text {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0.8rem;
  line-height: 1.7;
}
ul {
  list-style: none;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #f9f9f9, 100%;
  font-size: 1.1rem;
  font-weight: 400;
}
body > * {
  width: 60%;
  margin: 0 auto;
}
picture {
  margin: 0;
}
nav {
  display: flex;
  flex-direction: row;
  padding: 2.5rem 20%;
  align-content: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 20;
}
.links > * + * {
  margin-left: 3rem;
}

/***
Header Section 
***/

header {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
header > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  padding: 6rem 0;
  margin-top: 6rem;
  margin-bottom: 4rem;
  padding-top: 0;
  padding-bottom:0;
  width: 20rem;

  max-width: 100%;
  padding-left: 2.5rem;
  border-left: 3px solid #001558;
}
.profile-img {
  padding: 2rem 0;
  width: 30%;
  max-width: 30rem;
  height: 16rem;
  display: flex;
  justify-content: end;
}
.profile-img img {
  box-shadow: 0 0 4rem 0.1rem rgba(138, 138, 138, 0.2);
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.profile-img img:hover {
  transform: scale(1.5);
  z-index: 10;
  filter: blur(0);
  transition: 200ms ease-in-out;
}

.attributes {
  align-items: center;
  justify-content: space-around;
  padding: 3rem 0;
}
.card {
  box-shadow: 0 0 28px 0.3rem rgba(138, 138, 138, 0.2);
  border-radius: 5px;
  min-width: 13rem;
  text-align: center;
  padding: 2.5rem 3.7rem;
  padding-bottom: 1.2rem;
}
.emoji-big {
  font-size: 2.8rem;
  line-height: 0.3rem;
}

/** About **/
#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.2rem 0;
  padding-top: 7rem;
  column-gap: 7rem;
}
#about .col-left {
  flex: 1.6;
}
#about .col-left p {
  max-width: 98%;
  margin-top: 0;
}
#about .col-right {
  flex: 1.2;
}
.skill {
  margin: 2.3rem 0;
}
.full-bar {
  margin-top: 0.35rem;
  border-radius: 0.8rem;
  height: 0.5rem;
  width: 100%;
  box-shadow: 0 0 10px 0.3rem rgba(138, 138, 138, 0.2);
}
.percentage-bar {
  border-radius: 0.8rem;
  height: 0.5rem;
  background-color: #3b4463;
}
.wd {
  width: 84%;
}
.gd {
  width: 63%;
}
.hr {
  width: 77%;
}
.sing {
  width: 69%;
}
.read-more {
  font-size: 0.9rem;
  background-color: inherit;
  border: none;
  color: #3b4463;
  cursor: pointer;
  padding: 0;
}
.read-more:hover {
  font-size: 0.93rem;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 100ms ease-in-out;
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
#hidden {
  border-radius: 5px;
  padding: 2rem 8%;
  border: 1px solid #2c344f;
  height: 75vh;
  overflow: auto;
  scrollbar-width: thin;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 400ms ease-in-out;
  z-index: 50;
  width: 60%;
  margin: 0 auto;
  background-color: #f8f8f6;
}
#hidden > p {
  line-height: 1.6;
  margin-bottom: 1rem;
}
#hidden > #last-paragraph {
  margin-bottom: 2rem;
}
#hidden.active {
  transform: translate(-50%, -50%) scale(1);
}
#skills {
  padding-top: 6rem;
}

/**Education **/
.education {
  display: flex;
  padding: 5rem 0;
  padding-top: 8rem;
  column-gap: 5rem;
  line-height: 2;
  align-items: center;
  justify-content: space-between;
}
.col-left {
  flex: 1;
}
.col-right {
  flex: 1;
}
.col-right .bigger-text {
  line-height: 1.2;
}

/**Interests **/
.interests {
  padding: 4rem 0;
  padding-top: 8rem;
}
.interest {
  line-height: 1.8;
  margin: 1.4rem 0;
  padding: 0.5rem;
  width: 75%;
  border-radius: 0.37rem;
  background-color: #efefef;
}

/**Footer **/
footer {
  background-color: #2c344f;
  color: #efefef;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 20%;
  font-size: 0.8rem;
  align-items: center;
}
footer > a:hover {
  border-bottom: 1px solid #efefef;
}
.contacts.active {
  border: 1px dotted darkorange;
  box-shadow: 0 0 1rem 0.5rem darkorange;
  transition: 1000ms;
}
.contacts > * + * {
  margin-left: 1rem;
}

@media (max-width: 45rem) {
  * {
    flex-direction: column;
  }
  .links > * + * {
    margin-left: 1.5rem;
  }
  body {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
  }
  
  .course-title {
    margin-left: -2.5rem;
    font-weight: 600;
    font-size: 1.1rem;
  }
  .course-content {
    margin-left: -5rem;
  }
  .profile-img {
    width: 100%;
    margin-bottom: 5rem;
    height: 100%;
  }
  .profile-img img:hover {
    transform: scale(1);
  }
  .col-right {
    margin-top: 2rem;
    padding: 1rem 0;
    padding-bottom: 0;
  }
  #about {
    padding: 1 0rem;
    padding-bottom: 1rem;
  }
  .interest {
    width: 100%;
  }
  #hidden {
    width: 90%;
  }
  .contacts {
    padding: 2rem 2rem;
  }
}
